@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,100;1,500;1,600;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-bottom: 40px;
}

.carousel_section {
    background-image: url("../bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.myBtns {
    background-image: linear-gradient( to bottom, #585858 0%, #020001 100%);
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 8px 20px;
    cursor: pointer;
    width: 150px;
}

.carousel-item {
    padding: 20px;
    margin-bottom: 100px;
}

.carousel-item .col-6 p {
    padding-right: 20px;
    text-align: justify;
}

.card {
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000010;
}

.card img {
    padding: 50px;
}

.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 10px;
    background-image: linear-gradient(to right, #fffc47 0%, #ffb938 100%);
    border: none;
    border-radius: 20px;
}

.orange_txt {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#products {
    margin-bottom: 100px;
}

.category {
    box-shadow: 4px 3px 20px 3px #b1b1b1a1;
    padding: 32px 32px;
    margin-bottom: 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bag {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.category img,
.col-6 img {
    width: 100%;
    padding: 10px;
}

.categories-head {
    padding-bottom: 100px;
    display: block;
}

.categories-head .cat_und {
    width: 140px;
    height: 9px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fffc47 0%, #ffb938 100%);
    margin: 0 auto;
}